    .container-fluid{padding: 0}



    .header{
        background: white;
        padding: 20px 10% 10px 10%;
    }

    .navbar-light .navbar-toggler{
        color: rgba(0,0,0,.5);
        border-color: transparent;
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url("../svg/burger_Burger.svg");
    }

    nav div{
        /*position: absolute;*/
        /*left: 60%;*/
        text-align: right;
        /*padding-left: 100px;*/
    }
    .nav-item{
        margin-right: 50px;
    }
    .nav-item:last-child{
        margin-right: 10px;
    }
    .nav-link{
        font-family: Avenir-Medium;
        font-size: 18px;
        color: #333333 !important;
    }
    .nav-link:hover{
        color: rgba(0,0,0,.5)!important;
        /*color: #333333;*/
    }

       .nav-link.home{
            font-family: Avenir-Black;
       }
        .nav-link.contact{
            color: #3095F2 !important;
            border: 2px solid #3095F2;
            box-sizing: border-box;
            border-radius: 28px;
            /*padding: 15px 25px 15px 25px;*/
            padding-left: 15px !important;
            padding-right: 15px !important;
       }
        .nav-link.contact:hover{
            background: rgba(50, 155, 155, 0.15);
       }

    /*Header end*/








    /*Section__1 start*/
    .main__section{
        background: url("../img/Mask Group_Background_Header.png") no-repeat;
        background-size: cover;
        background-position-x: right;
        padding-right: 10%;/*8%*/
        padding-left: 10%;/*8%*/
        padding-bottom: 280px;
        width: 100%;
    }
    .main__section_title{
        font-family: ProductSans-Bold;
        font-size: 214px;
        color: #333333;
        /*max-width: 785px;*/
        /*padding-left: 115px;*/
        padding-top: 80px;
        line-height: 180px;
        /*line-height: 0.8;*/
    }
    .main__section_text{
        max-width: 80%;
        padding-top: 165px;
        font-size: 26px;
        line-height: 34px;
        /*line-height: 140%;*/
    }




    @media (max-width: 360px) {


        .main__section{
            padding-bottom: 0;
        }
        .main__section_title{
            font-size: 21.2vw;
            line-height: 20vw;
            /*line-height: 70px;*/
            /*padding-left: 6%;*/
        }
        .main__section_text{
            max-width: 100%;
            font-size: 5vw;
            line-height: 27px;
            /*line-height: 5.5vw;*/
            padding-top: 60px;
            /*padding-left: 6%;*/
            /*padding-right: 6%;*/
        }

    }

    @media (min-width: 360px) and (max-width: 375px) {

        .main__section{
            padding-bottom: 30px;
        }
        .main__section_title{
            font-family: ProductSans-Bold;
            font-size: 85px;
            line-height: 70px;
            /*padding-left: 30px;*/
            /*padding-left: 6%;*/
        }

        .main__section_text{
            max-width: 100%;
            padding-top: 65px;
            /*padding-left: 6%;*/
            /*padding-right: 6%;*/
            font-size: 19px;
            line-height: 28px;
        }

    }


    @media (min-width: 375px) and (max-width: 576px) {
        .main__section{
            background: url("../svg/Mask Group_New_bg.svg") no-repeat;
            background-size: cover;
            background-position-x: right;
        }
        .main__section{
            padding-bottom: 40px;
        }
        .main__section_text{
            max-width: 100%;
            font-size: 20px;
            line-height: 30px;
            /*padding-left: 4.2%;*/
            /*padding-right: 4.2%;*/
            padding-top: 75px;
        }
        .main__section_title{
            font-size: 90px;
            line-height: 80px;
        }
    }


    @media (min-width: 576px) and (max-width: 620px) {
        .main__section{
            background: url("../svg/Mask Group_New_bg.svg") no-repeat;
            background-size: cover;
            background-position-x: right;
        }
        .main__section{
            padding-bottom: 40px;
        }
        .col-xs-12.col-sm-5{
            padding: 0;
        }

        .main__section_text{
            font-size: 17px;
            max-width: 100%;
            line-height: 26px;
            padding-top: 115px;
            padding-left: 10px;
        }
        .main__section_title{
            font-size: 85px;
            line-height: 80px;
        }
 }


    @media (min-width: 620px) and (max-width: 768px){/**/
        .main__section{
            background: url("../svg/Mask Group_New_bg.svg") no-repeat;
            background-size: cover;
            background-position-x: right;

        }
        .col-xs-12.col-sm-5{
            padding: 0;
        }
        .col-xs-12.col-sm-7{
            padding-left: 0;
        }
        .main__section{
            padding-bottom: 90px;
        }
        .main__section_text{
                font-size: 17px;
                max-width: 100%;
                line-height: 26px;
                padding-top: 115px;
                  padding-left: 10px;
            }
        .main__section_title{
            font-size: 100px;
            line-height: 90px;
        }
    }


    @media (min-width: 768px) and (max-width: 992px){/*max-width: font-size was 910px*/

        .main__section_text{
            font-size: 18px;
            max-width: 90%;
            padding-top: 127px;
            padding-left: 10px;
            line-height: 28px;
        }
        .main__section_title{
            font-size: 115px;
            line-height: 110px;
        }
    }

    @media (min-width: 992px) and (max-width: 1200px){/*ТУТ ДОДАВ УМОВУ НА МАКС 1200PX*/
        .main__section_text{
            font-size: 20px;
            max-width: 90%;
            padding-top: 140px;
            line-height: 30px;
        }
        .main__section_title{
            font-size: 145px;
            line-height: 130px;
        }
    }




    @media (min-width: 1200px)and (max-width: 1400px){
                    .main__section_text{
                        font-size: 21px;
                        max-width: 90%;
                        padding-top: 150px;
                    }
                    .main__section_title{
                        font-size: 175px;
                        line-height: 150px;
                    }
    }
@media (min-width: 1400px)and (max-width: 1620px){
                    .main__section_text{
                        font-size: 23px;
                        padding-top: 157px;
                    }
                    .main__section_title{
                        font-size: 200px;
                        line-height: 170px;
                    }
    }






    /*@media (min-width: 375px) and (max-width: 430px){*/
    /*    .main__section_title{*/
    /*        font-size: 85px;*/
    /*        line-height: 80px;*/
    /*    }*/
    /*}*/

    /*@media (min-width: 430px) and (max-width: 768px){*/
    /*    .main__section_title{*/
    /*        font-size: 100px;*/
    /*        line-height: 90px;*/


    /*    }*/
    /*}*/










    @media (min-width: 1920px) {
        .container-fluid{
            max-width: 1920px;
        }
    }