main .container-fluid{
    padding-left: 10%;
    padding-right: 10%;
}
main .container-fluid h1{
    font-family: ProductSans-Bold;
    font-size: 96px;/*font-size: 9vw;*/
    padding-bottom: 2%;/*padding-bottom: 15px;*/
}
main ul{
    list-style: none;
    padding: 0;
    padding-bottom: 5%;
    /*margin-bottom: 5%;*/
}
main ul li{
    display: inline-block;
}
main ul li a{
    font-family: Avenir-Heavy;
    font-size: 18px;
    margin-right: 25px;
    border: 1px solid #3095F2;
    box-sizing: border-box;
    border-radius: 28px;
    padding: 12px 18px;
    color: #333333;
}
main ul li a:hover, main ul li a:active{
    background: rgba(120, 219, 328, 0.5);
    text-decoration: none;
    color: #3095F2;
}
main ul li a:focus{
    background: #3095F2;
    text-decoration: none;
    color: #FFFFFF;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.row .col-md-7, .row .col-md-5{
    padding: 1.2%;
}

.row .col-md-5 .cart-content{
    padding-left: 7%;
    padding-top: 7%;
}

.size{
    width: 20vw;
    height: auto;
    position: relative;
}
.size img{
    width: 7vw;
    max-width: 120px;
    padding-bottom: 7%;
}
.size.seven_procent_bottom img{
    padding-bottom: 8%;
}

.two-cart{
 /*padding: 13px;*/
     padding: 0;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
}
.cart-content{
    padding-left: 5%;
    padding-top: 5%;
    min-height: 30vw;
    height: 30vw;
    width: auto;
    display: flex;
}
.cart-content .size p:last-child{
    bottom: 0;
    position: absolute;
}
.two-cart a{
    text-decoration: none;
}
.two-cart p{
    color: #FFFFFF;
    font-size: 1vw;
}

.text-white {
    color: #fff !important;
}

                 a .cart-content:hover{
                    background: rgba(0, 119, 228, 0.5);
                    /*backdrop-filter: blur(4px);*/
                    backdrop-filter: opacity(50%);
                    border-radius: 15px;
                }

    .cart-1 {
        background: url("../img/Rectangle 9_Yoga.png") no-repeat;
        background-size: cover;
}
    .cart-2 {
        background: url("../img/../img/Rectangle 10_RedCar.png") no-repeat;
        background-size: cover;
        /*transform: matrix(-1, 0, 0, 1, 0, 0);*/
}

    .cart-3 {
        background: url("../img/../img/Rectangle 12.png") no-repeat;
        background-size: cover;
}
    .cart-4 {
    background: url("../img/Rectangle 11.png") no-repeat;
    background-size: cover;
}
    .cart-5 {
    background: url("../img/../img/Rectangle 13.png") no-repeat;
    background-size: cover;
}
    .cart-6 {
    background: url("../img/Rectangle 14.png") no-repeat;
    background-size: cover;
}






.content_center{
    text-align: center;
}
.content_center .works__text__plus a{
    font-family: Avenir-Heavy;
    font-size: 21px;
    line-height: 30px;
    color: #333333;
    text-decoration: none;

}
.content_center .plus{
    text-align: center;
    max-width: 3.5vw;
}



/*.div_2{*/
/*    background: url("../img/Vector 6_Careers_bg.png") no-repeat !important;*/
/*    position: relative;*/
/*    min-height: 900px;*/

/*}*/




@media  (max-width: 768px) {
    .two-cart p{
        font-size: 10px;
    }
}

@media (min-width: 1920px) {
    .container-fluid{
        max-width: 1920px;
    }
}
